{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="tituloAjuda">Ajuda</h1>

<div class="conteudo-ajuda">
    <p class="texto-ajuda">
      Para mais informações, entre em contato:
    </p>
  
    <div class="contato-ajuda">
      <p><strong>Email:</strong> atendimento@delicalu.com.br</p>
      <p><strong>WhatsApp:</strong> (11) 97554-2188</p>
      <p><strong>Horário:</strong> Segunda a sexta das 9h às 18h</p>
    </div>

<div class="mapa-container">
  <iframe 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58807.15224631077!2d-43.15290720820533!3d-22.896877372695993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9983db3ec4f5d1%3A0xc3a8e6eec9b55efa!2sSenac%20Niter%C3%B3i!5e0!3m2!1spt-PT!2sbr!4v1750113995003!5m2!1spt-PT!2sbr" 
    width="600" 
    height="450" 
    style="border:0;" 
    allowfullscreen="" 
    loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</div>



{% endblock %}