{% extends 'base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/cliente.css' %}">
<div class="login-container">
  <h2>Login do Cliente</h2>
  <form method="post">
    {% csrf_token %}

    <input class="form-control" type="email" name="email" placeholder="email@email">
    <input class="form-control" type="text" name="telefone" placeholder="(00)00000-0000">

    
    <button type="submit">Entrar</button>
  </form>
  <div class="register-link">
    <p>Não tem uma conta? <a href="{% url 'cadastro' %}">Cadastre-se aqui</a></p>
  </div>
</div>

{% if mensagem %}
  <p>{{ mensagem }}</p>
{% endif %}
{% endblock %}