{% extends 'base.html' %}
{% load static %}


{% block content %}

<h1 class = "tituloSobre">Sobre Nós</h1>

<div class="caixa-verde">
    <p>
        Na <strong>DelicaLu</strong>, acreditamos que praticidade e sabor andam juntos. Por isso, oferecemos refeições congeladas de alta qualidade, preparadas com ingredientes frescos e selecionados para você aproveitar a qualquer hora, sem abrir mão do gostinho caseiro.
      </p>
    
      <p>
        Nosso compromisso é entregar comida saudável, saborosa e prática, perfeita para o seu dia a dia corrido. Seja para uma refeição rápida no trabalho ou um jantar especial em casa, nossas opções são pensadas para tornar sua vida mais fácil e deliciosa.
      </p>
    
      <p>
        Priorizamos a sustentabilidade e o cuidado com o meio ambiente, utilizando embalagens recicláveis e processos que garantem a conservação dos nutrientes e o frescor dos alimentos.
      </p>
    
      <p>
        Experimente o sabor da conveniência sem perder a qualidade. 
      </p>
      
      <p>
        Bem-vindo à família <strong>DelicaLu!</strong>
      </p>

</div>
  

{% endblock %}
